        section {
            border: 2px solid #55a;
            margin: 1em;
        }
        section > p, section > img, section > div {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

        section > h1 {
            padding: 0.5em;
            margin: 0;
            background-color: #006;
            color: #fff;
            font-size: 1.1em;
        }

